<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="title-text"><%= title %></h1>
    <form method="POST" action="/new" class="message-form">
        <input type="text" class="form-input" placeholder="Type something..." name="messageText" id="user-name" required>
        <input type="text" class="form-input" placeholder="Enter your name..." name="messageUser" id="user-message" required>
        <button id="submit-button">Submit</button>
    </form>
  </body>
</html>