body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

a {
  text-decoration: none;
}

.content {
  max-width: 600px;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section-divider {
  display: flex;
  padding-bottom: 12px;
  align-items: flex-start;
  gap: 8px;
  border-bottom: 1px solid #F1F1F1;
}

.message-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title-text {
  margin: 0 0 8px 0;
}

.primary-text {
  margin: 0;
}

.secondary-text {
  color: #A1A1A1;
  margin: 0;
}

#message-button {
  display: flex;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #FFF;
  border: 1px solid #F1F1F1;  
  cursor: pointer;
  margin-top: 24px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}